/* 크루 네비게이션 */

.up-calender li {
    font-size: 25px;
    display: inline;
    margin: 0 9%;
    cursor: pointer;
    color: #737373;
    text-decoration: none;
}

.up-calender li.selected {
    color: black;
    text-decoration: underline;
}

.upper-line{
    height: 9px;
    background-color: #000928;
}

/* 소개글 */
.intro-title {
    font-size: 20px;
}

.intro-content {
    font-size: 15px;
}

.crew-introduce {
    border: 2px solid rgb(0, 0, 40);
}

.crew-introduce p {
    margin-left: 20px;
}


/* 크루원 리스트 글상자 */
.crewon-list-box {
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(17, 17, 32);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.crewon-list-box p {
    margin: 0; /* 문단의 기본 여백 제거 */
}

.alert {
    width: 20px;
    height: 20px;
}

/* 크루원 리스트 */

.crewon-lists {
    height: 730px;
    overflow-y: scroll;
}

.crewon-lists li {
    font-size: 20px;
}

/* 크루원 순위 */

.rank-list {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.rank-list img {
    max-height: 25px;
    margin-right: 20px;
}
.edit-button{
    float: right;
    
}
.edit-button-logo{
    width: 30px;
    height: 30px;   
}