.posting{
    float: left;
}

.upper-line{
    height: 9px;
    background-color: #000928;
}

.under-line{
    clear: left;
}

.date{
    color: #737373;
    white-space: nowrap; /* 줄바뀜 금지 */
}

.write-post-button{
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    text-align: center;
}

.write-post-button:hover {
    background-color: #007bff;
}

.post-list{
    float: left;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
}

.post-list p{
    white-space: nowrap;
}

.post-list a{
    text-decoration: none;
    color: #000000;
    margin-left: 0px;
}

.post-list a:hover{
    text-decoration-line: underline;
}