.crewon-value-board {
    background-color: rgb(183, 183, 183);
    border-radius: 5px;
    padding: 10px;
}

.crewon-value-board p {
    font-size: 20px;
    margin-left: 30px;
}

/* 신고하기 버튼 */

.crewon-value-board p{
    display: inline-block;
}

.crewon-value-board img {
    width: 15px;
    height: 15px;
    display: inline-block;
}

/* 크루원 리스트 */

.crewon-value-list {
    overflow: auto;
    white-space: nowrap;
    max-height: 350px;
    overflow-y: auto;
    margin-top: 0;
}

.crewon-value-list p {
    margin-left: 20px;
    font-size: 15px;
    display: inline-block;
}

.crewon-value-lists div {
    display: inline-block;
}

.crewon-value-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crewon-value-lists p{
    margin: 0;
    width: 50px;
    padding: 10px;
}

.crewon-value-lists div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

img {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.crewon-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }