.recruitment-header {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid #000; 
}

.status-category {
    display: flex;
    justify-content: space-between;
}

.status {
    background-color: #000928;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


.recruitment-title {
    font-size: 24px;
    margin-top: 10px;
}

details {
    text-align: right;
}

.activity-period,
.members,
.captain-name {
    margin-top: 10px;
}

.apply-button {
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-end;
}

.custom-image {
    width: 30px;
    height: auto;
}

.centered-text {
    justify-content: center;
}

.recruitment-detail {
    padding: 20px;
    display: flex;
    align-items: center; 
}

.crew-call{
    background-color: #000928;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;  
    margin-right: 10px;
}

.crew-name{
    font-weight: bold;
    margin-left: 30px;
}
.recruitment-description {
    margin: 50px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.report-button, .back-button {
    padding: 10px 20px;
    border: none;
    background-color: #D9D9D9;
    color: black;
    margin-right: 10px;
    border-radius: 10px; 
}

.captain-buttons{
    display: flex;
    justify-content: flex-end;
}

.Application-Status, .Modify{
    padding: 10px 20px;
    border: none;
    background-color: #000928;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
}
