.title{
    width: 400px;
    height: 70px;
    background-color: skyblue;
    position: absolute;
    left: 100px;
    text-align: center;
}
.outline{
    width: 398px;
    height: 600px;
    position: absolute;
    left: 100px;
    top: 70px;
    border: 1px solid skyblue;
}
.main{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 15px;
}
img{
    width: 15px;
    height: 15px;
}
.crew-member{
    width: 300px;
}
.diamond{
    float: right;
}
.plus-button {
    background-color: navy;
    color: white;
    border-radius: 5px;
    border: none;
    width:20px;
    height: 20px;
}
.minus-button {
    background-color: purple;
    color: white;
    border-radius: 5px;
    border: none;
    width: 20px;
    height: 20px;
}
.close{
    width: 60px;
    height: 30px;
    background-color: skyblue;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
}