/* report-popup.css */
.report-side {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
  }
  
  .report-title {
    text-align: center;
    background-color: #000928;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
  }

  .title{
    color: white;
  }
  
  form {
    text-align: center;
    width: 100%; 
  }
  
  .form-group-name{
    display: flex;
    margin: 10px 0;
    align-items: center;
  }

  .form-group-name p {
    text-align: center;
    margin: 0;
  }
  .form-group {
    margin: 10px 0;
    width: 100%;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #000928;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 40px;
  }
  
  button[type="submit"]:hover {
    background-color: #0038ad;
  }
  