iframe {
    width: 100%; 
    height: 700px; 
    border: 0;
    
}

/* 크루 네비게이션 */

.up-calender li {
    font-size: 25px;
    display: inline;
    margin: 0 150px;
    cursor: pointer;
    color: #737373;
    text-decoration: none;
}

.up-calender li.selected {
    color: black;
    text-decoration: underline;
}

.upper-line{
    height: 9px;
    background-color: #000928;
}

/* 게시글 작성 */

.write-board {
    font-size: 35px;
}

.write-title p {
    font-size: 25px;
}

.write-content p {
    font-size: 25px;
}

.write-title input[type="text"] {
    width: 500px;
}

/* 오른쪽 바 */
aside .rightbar {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    height: 100%;
}

.rightbar {
    background-color: white;
}

/* 크루원 리스트 글상자 */
.crewon-list-box {
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(17, 17, 32);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

/* 크루원 리스트 */

.crewon-lists {
    height: 730px;
    overflow-y: scroll;
}

.crewon-lists li {
    font-size: 20px;
}

/* 크루원 순위 */

.rank-list {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.rank-list img {
    max-height: 25px;
    margin-right: 20px;
}