.posting{
    float: left;
    margin-top: -50px;
}
section{
    width: 100vw;
}
.upper-line{
    height: 9px;
    background-color: #000928;
}

.under-line{
    clear: left;
}

.date{
    color: black;
    white-space: nowrap;
}
.write-post-button{
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    text-align: center;
}

.write-post-button:hover {
    background-color: #007bff;
}

.post-list{
    float: left;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    height: 65%;
}
.post-list p{
    white-space: nowrap;
}

.post-list a{
    text-decoration: none;
    color: #000000;
}

.post-list a:hover{
    text-decoration-line: underline;
}

.posting-title{
    margin-top: -2.5%;
    clear: left;
    float: left;
}

.posting-title p{
    font-weight: bold;
    font-size: 120%;
}


.posting-date{
    margin-left: 1100px;
    color: #737373;
}

.comment{
    clear:left;
    float:left;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 20px;
    height: 100px;
    width: 80vw;
}

.comment button{
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-left:982px;
}

.comment button:hover{
    background-color: #007bff;
}

.type-comment{
    border: none;
    background-color: lightgray;
    margin-bottom: 30px;
    margin-left: 15px;
}

.comment ul{
    margin-top: -5px;
}

.type-comment::placeholder{
    color: #737373;
}
.edit_button{
    width: 30px;
    height: 30px;
    margin-left: 700px;
}
.edit_button_logo{
    width: 30px;
    height: 30px;
}
.poster{
    overflow-y: scroll;
    height: 380px;
}