iframe {
    width: 100%; 
    height: 700px; 
    border: 0;
    
}
/* 크루 네비게이션 */
.up-calender {
    text-align: center;
    
}

.navi {
    height: 5px;
    background: #000000;
}

.up-calender li {
    font-size: 25px;
    display: inline;
    margin: 0 150px;
}

.up-calender li a {
    text-decoration: none; /* 밑줄 없애기 */
    color: #737373; /* 텍스트 색상을 검정색으로 변경 */
}
.up-calender li a:hover{
    color: black;
}

/* 소개글 */
.intro-title {
    font-size: 20px;
}

.intro-content {
    font-size: 15px;
}

/* 오른쪽 바 */
aside .rightbar {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    height: 100%;
}

.rightbar {
    background-color: white;
}

/* 크루원 리스트 글상자 */
.crewon-list-box {
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(17, 17, 32);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

/* 크루원 리스트 */

.crewon-lists {
    height: 730px;
    overflow-y: scroll;
}

.crewon-lists li {
    font-size: 20px;
}

/* 크루원 순위 */

.rank-list {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.rank-list img {
    max-height: 25px;
    margin-left: 20px;
}

.posting{
    float: left;
}

.upper-line{
    height: 9px;
    background-color: #000928;
}

.under-line{
    clear: left;
}
.date{
    color: black;
    white-space: nowrap; /* 줄바뀜 금지 */
}
.write-post-button{
    margin-left: 1290px;
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    text-align: center;
}

.write-post-button:hover {
    background-color: #007bff;
}

.post-list{
    float: left;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    height: 65%;
}
.post-list p{
    margin-left: 1200px;
    white-space: nowrap;
}
.post-list a{
    text-decoration: none;
    color: #000000;
}

.post-list a:hover{
    text-decoration-line: underline;
}




